@import "tailwindcss";

/* Custom Max Widths */
.--my-max-width {
  max-width: 1440px;
}

/* Custom keyframe */
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .animate-marquee {
    animation: marquee 24s linear infinite;
  }